src/main/mule/create-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="create-customerFlow" doc:id="560778d0-f2ac-4566-b175-307cf1180b25" >
		<db:insert doc:name="Insert" doc:id="73e222f1-1e9b-4d6a-b2d6-8411bb8d505b" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO customer_tbl (name,email,telephone,address) VALUES (:cusname, :cusemail, :custel, :cusaddr) ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	cusname : payload.name, 
	cusemail : payload.email,
	custel : payload.telephone,
	cusaddr : payload.address
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="65644a21-41ee-410b-bd5d-27eced994ac8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"successfully saved customer data"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
