src/main/mule/delete-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-customerFlow" doc:id="87ba33ff-8af3-4409-9096-570d0fadf312" >
		<set-variable value="#[attributes.queryParams.customerId]" doc:name="Set Variable" doc:id="f047fc5f-4190-4a78-be6b-67c238088b6d" variableName="cusid"/>
		<db:delete doc:name="Delete" doc:id="9aafb17b-68fa-4b89-bc31-0367d169148d" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM customer_tbl WHERE id = :customerId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
 customerId : vars.cusid
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="20852d64-6f90-47c0-b6f5-a3585b66f55d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"customer deleted successfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
