src/main/mule/update-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-customerFlow" doc:id="fa094f32-0cac-4918-b98a-f42550ec8cf3" >
		<db:update doc:name="Update" doc:id="f9d5fd8e-c360-4ae3-92a3-b26cd0af434f" config-ref="Database_Config">
			<db:sql ><![CDATA[update customer_tbl
set telephone = :custel
where id = :cusid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custel : payload.telephone,
	cusid : payload.id
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="43d197dd-b487-457a-84d6-239136c9045f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"customer telephone number updated"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
